////
/// @group send
/// @author kmturley
////

.send {
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        color: #fff;
    }

    .round-progress-wrapper {
        opacity: .5;
    }
}
