////
/// @group create
/// @author kmturley
////

.create {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        color: #fff;
    }
}
