<ion-tabs class="tabs-top tabs-icon-top tabs-color-active-positive edit">
    <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/edit/dash">
        <ion-nav-view name="edit-dash"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/edit/chats">
        <ion-nav-view name="edit-chats"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/edit/account">
        <ion-nav-view name="edit-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>