<ion-view>
    <ion-content class="padding has-screen">
        <p>Choose an image</p>
        <div class="gallery">
            <a class="gallery-item add" ng-click="loadGallery()">
                <i class="icon ion-plus"></i>
            </a>
            <a class="gallery-item" ng-click="toggleImage(image)" ng-repeat="image in data.images" ng-class="{'selected': image == data.image }">
                <img ng-src="{{ image.img }}" />
            </a>
        </div>
    </ion-content>
</ion-view>