<div class="edit">
    <div class="screen">
        <img ng-src="{{ data.image.img }}" ng-show="data.image" alt="" />
        <video vg-src="data.video" ng-show="data.video.url" poster="{{ data.video.img }}" on-click="toggle()" on-tap="toggle()" autoplay>
            <source ng-src="{{ data.video.url }}" type="video/mp4" />
        </video>
        <rzslider ng-show="data.video.url" rz-slider-model="data.slider.minValue" rz-slider-high="data.slider.maxValue" rz-slider-options="data.slider.options"></rzslider>
    </div>
    <ion-tabs class="tabs-top tabs-icon-top tabs-color-active-positive">
        <ion-tab title="Videos1" icon-off="ion-scissors" icon-on="ion-scissors" href="#/edit/dash">
            <ion-nav-view name="edit-dash"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Images" icon-off="ion-ios-photos" icon-on="ion-ios-photos" href="#/edit/chats">
            <ion-nav-view name="edit-chats"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Videos2" icon-off="ion-skip-backward" icon-on="ion-skip-backward" href="#/edit/account">
            <ion-nav-view name="edit-account"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Videos3" icon-off="ion-skip-forward" icon-on="ion-skip-forward" href="#/edit/details">
            <ion-nav-view name="edit-details"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</div>