<ion-view>
    <ion-content class="padding has-screen">
        <p>Choose a video</p>
        <div class="gallery">
            <a class="gallery-item add" ng-click="loadGallery()">
                <i class="icon ion-plus"></i>
            </a>
            <a class="gallery-item" ng-click="toggleVideo(video)" ng-repeat="video in data.videos" ng-class="{'selected': video == data.video }">
                <img ng-src="{{ video.img }}" />
            </a>
        </div>
    </ion-content>
</ion-view>