<ion-view>
    <ion-nav-buttons side="secondary">
        <button class="button button-clear icon-right ion-chevron-right" ui-sref="send" nav-direction="forward">Send</button>
    </ion-nav-buttons>
    <ion-content class="padding submit">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="John" />
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Suhr" />
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="john@suhr.com" />
            </label>
        </div>
    </ion-content>
</ion-view>